<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <style>
        form label{display: block;margin: 5px 0;}
    </style>
</head>

<body>
    {% include './base/header.html' %}
    <section class="main">
        <h1>姓名：{{ name }}</h1>
        <p>使用的模板引擎是：{{ title }}</p>
        <div>
            <p>node做中间层转发get/post请求</p>
            <button class="getClick">get 请求</button>
            <div class="getshow">get结果显示处</div>
            <button class="postClick">post 请求</button>
            <div class="postshow">postt结果显示处</div>
        </div>
        <hr />
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label> 姓名: <input type="text" name="name"> </label>

            <label> 电话: <input type="text" name="tel"> </label>

            <label> 地址: <input type="text" name="address"> </label>

            <label> 照片: <input type="file" name="logo"></label>

            <label> 多文件上传：<input type="file" name="img" multiple="multiple"></label>

            <label><input type="submit" value="提交"> </label>
        </form>

        <script>
            let getClick = document.querySelector(".getClick");
            let getshow = document.querySelector(".getshow");

            let postClick = document.querySelector(".postClick");
            let postshow = document.querySelector(".postshow");
            getClick.addEventListener("click", function () {
                axios.get('/api/get?id=895aaabc-f3d7-461c-bad6-e9c44f6cdb4f')
                    .then(function (response) {
                        console.log(response);
                        let res = JSON.stringify(response)
                        getshow.innerHTML = res
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            })
            postClick.addEventListener("click", function () {
                axios.post('/api/post', {
                        "id": "8989-dddvdg",
                        "name": "文章标题-JSON格式参数演示",
                        "brief": "快速入门json参数",
                        "category": "分类"
                    })
                    .then(function (response) {
                        console.log(response);
                        let res = JSON.stringify(response)
                        postshow.innerHTML = res
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            })
            setCookie("level", "4")

            function setCookie(name, value) {
                var Days = 30;
                var exp = new Date();
                exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
                document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
            }
        </script>
    </section>

    {% include "./base/footer.html" %}
</body>

</html>