<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titleName}}</title>
</head>
<body>
    <section>
        <div>
            <label>
                <p>请输入手机号：</p>
                <input type="text">
            </label>
            <label>
                <p>菜名：</p>
                <input type="text">
            </label>
            <p>
                <button>提交</button>
            </p>
            
        </div>
    </section>
</body>
</html>